.navbar {
    min-height: 70px; /* Hauteur minimum augmentée */
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}
.navbar .nav-link {
    color: #fff !important;
    transition: background 0.2s, color 0.2s;
    border-radius: 0.4rem;
}
.navbar .nav-link.active, .navbar .nav-link:hover {
    background: #415a77 !important;
    color: #ffe082 !important;
}
.navbar .dropdown-menu {
    min-width: 180px;
    border-radius: 0.7rem;
}

.btn-primary {
    background-color: #1B263B !important;
    border-color: #1B263B !important;
}
.btn-primary:hover, .btn-primary:focus {
    background-color: #16203a !important;
    border-color: #16203a !important;
}